.container-drink {
  height: auto;
  min-height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drink {
  height: auto;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  background-color: aqua;
  border-radius: 20px;
}
.drink__title {
  height: 10%;
  width: 60%;
  background-color: yellow;
}
.drink__title h1 {
  margin: 0px;
  color: black;
  text-align: center;
}
.card-container {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  overflow-y: scroll;
}
.drink__card {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.drink__name {
}
.drink__image {
  height: 80%;
  width: 100%;
  border-radius: 20px;
}
.drink__image img {
  height: 100%;
  width: 100%;
  object-fit: contain;

  object-position: center;
}
.drink--button {
  background-color: darkorange;
  color: white;
}
@media screen and (max-width: 900px) {
  .drink__card {
    height: 20vh;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .drink__image img {
    object-fit: cover;
  }
}
