.container {
  height: 160vh;
  background: linear-gradient(#db545a, #f5d654);
  width: 100vw;
}
.containerImg {
}
.slider {
  height: 70%;
  width: 73.2%;
  margin: 0px 0px 0px 272px;
  overflow: hidden;
}
.slides {
  height: 90%;
  width: 80%;
  display: flex;
}
.slide {
  transition: 2s;
}
.slide img {
  height: 810px;
  width: 1000px;
}
.slides input {
  display: none;
}
.imgBackground {
  height: 60%;
  width: 80%;
  margin-left: 21.3%;
  margin-top: 3%;
}
.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -190px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background: #40d3dc;
}
#radio1:checked ~ .first {
  margin-left: 0%;
}
#radio2:checked ~ .first {
  margin-left: -125%;
}
#radio3:checked ~ .first {
  margin-left: -250%;
}
#radio4:checked ~ .first {
  margin-left: -375%;
}

.imgBackground2 {
  height: 60%;
  width: 80%;
  margin-top: 3%;
}
.img {
  position: absolute;
  height: 50%;
  width: 25%;
  bottom: -50%;
  left: 5%;
}
.img2 {
  position: absolute;
  height: 50%;
  width: 25%;
  bottom: -50%;
  left: 32%;
}
.img3 {
  position: absolute;
  height: 50%;
  width: 25%;
  bottom: -50%;
  left: 59%;
}

.title {
  position: absolute;
  font-size: 250%;
  color: #fff;
  left: 8.1%;
  top: 40%;
}
.h1 {
  margin: -15px;
}
.footer {
  display: flex;
  height: 10vh;
  margin: -80px 0px 0px 0px;
  background: blue;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 472px;
}

.navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #40d3dc;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #40d3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #40d3dc;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #40d3dc;
}
