.PointOfSaleContainer {
  height: 100vh;
  width: 98.7.9vw;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.PointOfSale__Header {
  height: 8%;
  width: 100%;
  background: #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Header__PMenu {
  height: 90%;
  width: 2.6%;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header__PMenu button {
  height: 100%;
  width: 100%;
  padding: 0px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.Header__PMenu img {
  object-fit: contain;
  height: 70%;
  width: 90%;
}
.Header__PPerfil {
  height: 90%;
  width: 3.4%;
  margin-right: 15px;
}
.Header__PPerfil img {
  border-radius: 50px;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.PointOfSale__Spacing {
  height: 4%;
  width: 100%;
}
.PointOfSale__DashBoard {
  height: 72%;
  width: 91%;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border-radius: 10px;
}
.PointOfSale__Search {
  height: 8%;
  width: 91%;
  background: #c4c4c4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Search__Producto {
  height: 60%;
  width: 30%;
  margin-left: 10px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 4px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.Search__Cantidad {
  height: 60%;
  margin-left: 5px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0px 4px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.DashBoard__Title {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(208, 212, 226, 0.8);
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.DashBoard__Order {
  height: 80%;
  width: 99%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.Order__itemP {
  height: 13%;
  width: 97%;
  display: flex;
  align-items: center;
  background-color: rgba(28, 132, 191, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 0.8%;
}
.Order__itemP:first-of-type {
  margin-top: 0.8%;
}
.itemP__Producto {
  display: flex;
  justify-content: center;
  width: 20vw;
}
.itemP__Code {
  display: flex;
  justify-content: center;
  width: 16vw;
}
.itemP__Code p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.itemP__Unidad {
  display: flex;
  justify-content: center;
  width: 15vw;
}
.itemP__Precio {
  display: flex;
  justify-content: center;
  width: 16vw;
}
.itemP__Monto {
  display: flex;
  justify-content: center;
  width: 15vw;
}
.DashBoard__Info {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #c4c4c4;
  box-shadow: 0px -6px 4px rgba(0, 0, 0, 0.25);
}
.Info__Item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ItemTitle p {
  margin: 0px;
  font-weight: bold;
}
.ItemNumber p {
  margin: 0px;
  font-weight: bold;
}
.PointOfSale__Button {
  height: 6%;
  width: 91%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ButtonsP {
  height: 70%;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.ButtonP__PItems {
  height: 100%;
  width: 45%;
  cursor: pointer;
  border: none;
  font-weight: bold;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
