.pizza-view {
  background-color: #e5be01;
  height: 100%;
  width: 100%;
}
.pizza-card:not(:first-of-type) {
  margin-top: 10px;
}

.pizza-tittle {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.pizza-image img {
  margin-left: 50px;
  width: 60%;
  height: 250px;
  border-radius: 40px;
}
.div-father {
  background-color: #2271b3;
  height: 900px;
  width: 350px;
  border-radius: 50px;
  float: right;
  margin-right: 5%;
  margin-top: 4%;
  box-shadow: 3px 2px 2px #212121;
}
.div-child {
  background-color: #e5be01;
  height: 350px;
  width: 220px;
  border-radius: 30px;
  float: right;
  margin-right: 18%;
  margin-top: 35%;
}
.imagenpizzapng img {
  width: 220px;
  height: 220px;
  margin-top: 75px;
  margin-left: 70px;
  box-shadow: 3px 3px 10px 0px black;
  border-radius: 10px;
}
.info-pizza {
  background-color: rgba(0, 0, 0, 0.5);
  width: 220px;
  height: 200px;
  border-radius: 20px;
  position: absolute;
  margin-left: 60px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-pizza h2 {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}
.info-pizza h3 {
  color: #e5be01;
}
.buyonline {
  background-color: #e5be01;
  color: black;
  height: 40px;
  width: 150px;
  border: none;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
