.Combos {
  width: 100vw;
  height: 210vh;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.combos-tittle {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: 25px;
}

.card-combo {
  position: relative;
  width: 600px;
  height: 390px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  transition: 0.5s;
}
.card-combo .circle-combo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /*overflow: hidden; -- Con el over no resale la Imagen*/
}
.card-combo .circle-combo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  clip-path: circle(120px at center);
  transition: 0.5s;
}
.card-combo:hover .circle-combo:before {
  background: blue;
  clip-path: circle(400px at center);
}
.card-combo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  pointer-events: none;
  transition: 0.5s;
}
.card-combo:hover img {
  left: 73%;
  height: 340px;
}
.card-combo .content-combo {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.card-combo:hover .content-combo {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.card-combo .content-combo h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 5px;
}
.card-combo .content-combo p {
  color: #fff;
}
.card-combo .content-combo a {
  position: relative;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  background: #fff;
  color: #111;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}
@media (max-width: 300px) {
  .card-combo {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
    overflow: hidden;
    margin: 10px;
  }
  .card-combo:hover {
    height: 600px;
  }
  .card-combo .content-combo {
    width: 100%;
    left: 0;
    padding: 30px;
  }
  .card-combo:hover img {
    top: 70%;
    left: 50%;
    height: 320px;
  }
}
@media (max-width: 50px) {
  .card-combo .content-combo {
    padding: 20px;
  }
}
